{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div>
    <p class="mt-5">
        I created this website to host finance tools that I want to share. More to come as I create more things!

        If you would like to give suggestions or a $1 tip each month to the project, then go to the
        <a href="https://patreon.com/jrfintools" target="_blank" rel="noopener noreferrer">patreon</a>
        for this page.
    </p>
</div>
{% endblock %}
